<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <p> <img class="image-responsive" src= {{article.photo}} alt= {{article.headline}} width="460" height="345"></p>
    </div>
    <div class="col-sm-6">
      <h1>{{article.headline}}</h1>
      <p>{{article.content}}</p>
      <p>By {{article.author}}</p>
      <p>{{article.timestamp}}</p>
    </div>
  </div>
</div>
